{% load i18n %}
{% block nav_bar %}
    <div class="nav">
        <div class="col-sm-8">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="/page/1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for no in page_range %}
                        <li {% if no == page_no %}class="active" {% endif %}><a href="/page/{{ no }}">{{ no }}</a></li>
                    {% endfor %}
                    {#                    <li>#}
                    {#                        <a href="#" aria-label="Next">#}
                    {#                            <span aria-hidden="true">Have More</span>#}
                    {#                        </a>#}
                    {#                    </li>#}
                </ul>
            </nav>
        </div>
        <div class="col-sm-4">
            </br><a>{% trans 'ActorsCount: ' %}{{ actor_count }} {% trans 'PageCount: ' %}{{ total_page }}</a>
        </div>
        {##}
        {#        <div class="col-sm-4">#}
        {#            </br><a href="/seed/process_start">{% trans 'Start Process' %}</a>#}
        {#        </div>#}
    </div>
{% endblock %}
<div class="masonry-container">
    {% for row in table_result %}
        <div class="col-sm-4 col-md-3 col-lg-2 item">
            {% block result_item %}
                <div class="thumbnail">
                    <img src="{{ row.image_url }}" alt="">
                    <div class="caption"><h3>{{ row.name }}</h3>
                        <p>{% if row.uncensored == 'y' %}{% trans 'Uncensored' %}{% else %}
                            {% trans 'Censored' %}{% endif %}</p>
                        <p>
                            <a href="{{ row.actor_url }}" target="view_window" class="btn btn-primary"
                               role="button">{% trans 'Details' %}</a>
                            <a href="/seed/actor/{{ row.id }}" target="view_window" class="btn btn-default"
                               role="button">{% trans 'Resources' %}</a>
                        </p>
                    </div>
                </div>s
            {% endblock %}
        </div>
    {% endfor %}
</div>

<script>
    var $container = $('.masonry-container');
    $container.imagesLoaded(function () {
        $container.masonry({columnWidth: '.item', itemSelector: '.item'});
    });
</script>