{% extends 'component/content_fluid.html' %}
{% load i18n %}
{% block nav_bar %}
{% endblock %}
{% block result_item %}
    <div class="thumbnail">
        <img src="{{ row.movie_img_url }}" alt="" onclick="window.open('{{ row.movie_url }}')" class="img-rounded link"
             width="100%">
        <div class="caption"><h3>{{ row.title }}</h3>

            {% if row.series_id %}
                <p>
                    <a href="/seed/series/{{ row.series_id }}" class="label label-info" target="_blank">
                        {{ row.series.name }}
                    </a>
                </p>
            {% endif %}
            <p>
                {% if row.uncensored == 'y' %}<i class="label label-danger">{% trans 'Uncensored' %}</i>{% else %}
                    <i class="label label-warning">{% trans 'Censored' %}</i>{% endif %}

                {% if row.mag_count > 0 %}
                    <i class="label label-primary">{% trans 'Magnet Count: ' %}{{ row.mag_count }}</i>
                {% else %}
                    <i class="label label-warning">{% trans 'Magnet Count: ' %}{{ row.mag_count }}</i>
                {% endif %}
            </p>
        </div>
    </div>
{% endblock %}