{% extends 'component/content_fluid.html' %}
{% load i18n %}
{% block nav_bar %}
{% endblock %}
{% block result_item %}
    <div class="thumbnail">
        <img src="{{ row.movie_img_url }}" alt="" onclick="window.open('{{ row.movie_url }}')" class="img-rounded link"
             width="100%">
        <div class="caption"><h3>{{ row.title }}</h3>
            {% if row.mag_count > 0 %}
                <p class="label label-primary">{% trans 'Magnet Count: ' %}{{ row.mag_count }}</p>
            {% else %}
                <p class="label label-warning">{% trans 'Magnet Count: ' %}{{ row.mag_count }}</p>
            {% endif %}
            <p>{% if row.uncensored == 'y' %}{% trans 'Uncensored' %}{% else %}
                {% trans 'Censored' %}{% endif %}</p>
            <p>
                <a href="{{ row.movie_url }}" target="_blank" class="btn btn-primary"
                   role="button">{% trans 'Details' %}</a>
                {#                <a href="/seed/actor/{{ row.id }}" target="_blank" class="btn btn-default"#}
                {#                   role="button">{% trans 'Resources' %}</a>#}
            </p>
        </div>
    </div>
{% endblock %}