{% load i18n static %}<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/statics/jquery/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/statics/bootstrap-3.3.7/js/bootstrap.js"></script>
    <script type="text/javascript" src="/statics/js/masonry.pkgd.js"></script>
    <script type="text/javascript" src="/statics/js/imagesloaded.pkgd.js"></script>
    <link rel="stylesheet" type="text/css" href="/statics/bootstrap-3.3.7/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/statics/bootstrap-3.3.7/css/bootstrap-theme.css"/>
    <link rel="stylesheet" type="text/css" href="/statics/font-awesome/css/font-awesome.css"/>
    {% block extrastyle %}{% endblock %}<title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>